.navbar {
  background-color: black;
}
.footer {
  background-color: black;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.card {
  box-shadow: 12px 24px 36px 0 rgba(0,0,0,0.2);
  border:none;
  margin-bottom: 20px;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 397px;
  text-align: left;
}
.cardtitle{
  color: #13b1cd !important;
  text-align: center;
  letter-spacing: .12rem;
  font-family: Montserrat;
  font-weight: 700 !important;
  font-size: 1.75rem !important;
  text-transform: uppercase;
}
.cardsubtitle{
  color: black;
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  font-weight: 600;;

}

.cardtext{
    font-size: 17px;
    font-weight: 300;
    color: #656565;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem;
}
.event-list {
  position: relative;
  margin-left: -10px;
}
.event-list h2 {
  font-size: 30px;
  margin: 40px 0;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-right: 30px;
  float: left;
  margin-left: 10px;
}
.dark {
  color: #35383b;
}

.event-list .section-line {
  overflow: hidden;
  height: 104px;
}
.event-list .section-line span {
  background:  #e5e7e8;
  width: 100%;
  height: 5px;
  display: inline-block;
  /* -webkit-border-radius: 25px;
  -moz-border-radius: 25px; */
  border-radius: 25px;
  margin-top: 55px;
}
.events-section {
  margin-top: 15px;
  margin-bottom: 15px;
}

.landing {
  font-weight: 1000;
  font-size: 20px;
  position: relative;
  background: url("./img/backg-01.png") no-repeat;
  background-size: 100% 100%;
  background-position: cover;
  height: 100vh;
  margin-bottom: 50px;
}

#heading {
  margin-top: 100px;
}

.landing-inner {
  padding-top: 80px;
}

.ui-kit__heading:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  border-bottom: 4px solid #6999ec;
}
.ui-kit__heading-primary {
  font-size: 35px;
}

.ui-kit__sub-heading {
  /* padding-left: 65%; */
  font-size: 20px;
  color: #0093e2;
  cursor: pointer;
  text-align: left;
}
.list-unstyled {
  color: #e8e8e8;
}

.login {
  margin-top: 150px;
  margin-bottom: 165px;
}

@media screen and (max-width: 400px){
.landing{
  background-position: 0%;
  background-size: cover;
}
.landing h1{
  font-size: 60px;
}
.landing h4{
  font-size: 21px;
}
}