.navbar {
  background-color: #383f4d;
}
.footer {
  background-color: #383f4d;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
/* .card {
  min-height: 64px;
  margin-bottom: 5px;
  /* padding: 0 12px; */
  /* color: rgba(0, 0, 0, 0.85); */
  /* font-weight: 500;
  font-size: 20px;
  background: transparent;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 8px 8px 0 0;
  zoom: 1; */
/* } */
.card {
  box-shadow: 8px 12px 36px 0 rgba(0,0,0,0.2);
  border:none;
  margin-bottom: 20px;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 397px;
  text-align: left;
}
.cardtitle{
  color: #13b1cd !important;
  text-align: center;
  letter-spacing: .12rem;
  font-weight: 700 !important;
  font-size: 1.75rem !important;
  /* font-family: 'Franklin Gothic Medium'; */
  text-transform: uppercase;
}
.cardsubtitle{
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 600;;

}
.cardtext{
    font-size: 17px;
    font-weight: 300;
    color: #656565;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem;
}
.events-section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.landing {
  font-weight: 1000;
  font-size: 20px;
  position: relative;
  background: url("./img/backg-01.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  margin-bottom: 50px;
}

#heading {
  margin-top: 100px;
}

.landing-inner {
  padding-top: 80px;
}

.ui-kit__heading:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  border-bottom: 4px solid #6999ec;
}
.ui-kit__heading-primary {
  font-size: 35px;
}

.ui-kit__sub-heading {
  padding-left: 65%;
  font-size: 25px;
  color: #0093e2;
  cursor: pointer;
  text-align: left;
}
.list-unstyled {
  color: #e8e8e8;
}

.login {
  margin-top: 150px;
  margin-bottom: 165px;
}